.card:hover {
    background: #000000;
    color: #007bff;
    width: 97%;
    margin: auto;
    transition: linear 0.2s;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.row {
    justify-content: center;
}

.container.jumbotron > .row {
    justify-content: unset;
}

.card-img-overlay > .card-title {
    background: #ffffff80;
    padding: 0 10px;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

div#root {
    background: #000000;
}

.row.row-content{
    background: #c8b4ee;
}
