* {
    box-sizing: border-box;
    font-family: cursive;
  }

.header {
    margin: 20px auto 30px auto;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.box {
    float: left;
    display: inline;
    border-style: solid ;
    margin: 5px;
    background: #9e9e9e;
}

.items {
    width: fit-content;
    padding: 5px 30px;
    float: right;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-color: black;
}

.a, .b, .c {
    clear: both;
    padding: 10px;
}

@media (max-width: 767px) {
    .box {
        width: 98.5%;
    } 
}

@media (min-width: 992px) {
    .box {
        width: 32.3%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .box.box1 {
        width: 48.6%;
    }
    .box.box2 {
        width: 48.6%;
    }
    .box.box3 {
        width: 98.5%;
    }   
}
